.map-svg {
  /* background-color: whitesmoke; */
}

#zoom-button {
  cursor: pointer;
}

.clicked {
  fill: #39557c;
  stroke: white;
}

.button-text {
  fill: white;
}

.map-tooltip {
  overflow: visible;
}

.map-tooltip {
  position: absolute;
  z-index: 9999;
}

.axis line,
.axis path {
  stroke: #747373;
}

#map-sub-title {
  width: 100%;
  color: #6291d3;
  /* margin-left: 0rem; */
}

#map-caption {
  font-family: "Times New Roman", Times, serif;
  /* font-size: 0.9rem; */
  font-weight: normal;
  max-height: 10rem;
  min-height: 5rem;
  margin-left: 5rem;
  margin-top: 0%;
  margin-bottom: 0%;
  color: #727171;
  /* background-color: blanchedalmond; */
  width: 100%;
}
