@media (max-width: 1150px) {
  /* Medium screen */
  .title,
  .why-title {
    font-size: 1.8rem;
    line-height: 1.1;
  }
}

@media (max-width: 768px) {
  /* for small screens */
  .title,
  .why-title {
    font-size: 1.5rem;
    line-height: 1.1;
  }
  /* for small screens */
  .sub-title {
    font-size: 1rem;
    line-height: 1.1;
  }

  .h3-sub-title,
  #lol-caption {
    width: 80%;
    font-size: 0.8rem;
    line-height: 0.9;
  }

  .title,
  .why-title,
  .sub-title,
  .h3-sub-title,
  #lol-caption {
    margin-left: 2rem;
  }
}

@media (max-width: 480px) {
  /* for very small screens */
  .title,
  .why-title {
    font-size: 1rem;
    line-height: 1;
  }
  /* for very small screens */
  .sub-title {
    font-size: 0.5rem;
    line-height: 0.6;
  }
  .h3-sub-title,
  #lol-caption {
    width: 50%;
    font-size: 0.1rem;
    line-height: 0.2;
  }
  .title,
  .why-title,
  .sub-title {
    margin-left: 1rem;
  }
  .h3-sub-title,
  #lol-caption {
    margin-left: 0.1rem;
  }
}

@media (max-width: 100px) {
  /* for very small screens */
  .title,
  .why-title {
    font-size: 0.5rem;
    line-height: 0.6;
  }
  /* for very small screens */
  .sub-title {
    font-size: 0.1rem;
    line-height: 0.2;
  }
  .h3-sub-title,
  #lol-caption {
    /* width: 50%; */
    font-size: 0.1rem;
    line-height: 0.2;
  }
  .title,
  .why-title,
  .sub-title {
    margin-left: 1rem;
  }

  .h3-sub-title,
  #lol-caption {
    margin-left: 0rem;
  }
}

@media (max-height: 900px) {
  /* for small screens */
  /* .left-container {
    height: 85.5%;
    display: flex;
    flex-direction: column;
  } */
}

.rounded-border {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  /* width: 200px;
  height: 100px; */
}
